<%- include('header', {here: 'artists'}) %>
<div class="nice">
  <h1>Artists</h1>
  <div class="flex-container"> 

    <% if (artists) artists.forEach( (artist)=>{   %>
      <div>
        <a class="btn btn-outline-info" href="/artist?id=<%= artist.artist_id %>"><img class="bigcover" src="
          <% if (artist.artistimageurl == null || artist.artistimageurl == '') { %>
          defaultartist.png
          <% } else { %>
          <%= artist.artistimageurl %>
          <% } %>
          " onerror="this.onerror=null; this.src='defaultartist.png'"/><br><%= artist.artistname %></a>
      </div>
    <% }); %>
    
  </div>
</div>
<%- include('footer') %>