<%- include('header', {here: 'collector'}) %>

<h1><img class="bigpic" src="
  <% if (userdata.userimageurl == null) { %>
  defaultavatar.png
  <% } else { %>
  <%= userdata.userimageurl %>
  <% } %>
  "/><%= userdata.username %></h1>

<table class="table">
  <tr>
    <th>Joined</th>
    <td><%= userdata.joindate %></td>
  </tr>
  <tr>
    <th>Bio</th>
    <td><%= userdata.bio %></td>
  </tr>
  <tr>
    <th>Stack</th>
    <td><%= userdata.stack %> vinyls collected</td>
  </tr>
</table>

<% if(ownedvinylsdata[0]) { %>
<h3>Their wax</h3>
<table class="table">
  <tr>
    <th>Release</th>
    <th>Year</th>
    <th>Copies</th>
  </tr>
  <% ownedvinylsdata.forEach(vinyl => { %>
  <tr>
    <td><a class="btn btn-outline-info" href="/vinyl?id=<%= vinyl.release_id %>"
      ><img class="minicover" src="
      <% if (vinyl.releaseimageurl == null) { %>
      defaultcover.png
      <% } else { %>
      <%= vinyl.releaseimageurl %>
      <% } %>
      "/> <%= vinyl.releasename %></a></td>
    <td><%= vinyl.year %></td>
    <td><%= vinyl.copies.length %></td>
  </tr>
  <% }) %>
</table>
<% } %>

<h3>Their jukeboxes</h3>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% if(jukeboxesdata) { 
    jukeboxesdata.forEach(jukebox => { %>
  <tr>
    <td><%= jukebox.jukebox_id %></td>
    <td>
      <a class="btn btn-outline-info" href="/jukebox?id=<%= jukebox.jukebox_id %>"><img class="minicover" src="
    <% if (jukebox.jukeboximageurl == null) { %>
    defaultjuke.png
    <% } else { %>
    <%= jukebox.jukeboximageurl %>
    <% } %>
    "/> <%= jukebox.jukeboxname %></a>
    </td>
    <td><%= jukebox.jukeboxdesc %></td>
    </td>
  </tr>
    <% });
  }; %>  
</table>

<%- include('footer') %>