<%- include('header') %>

<h2><%= data.username %></h2>

<table>
  <tr>
    <th>Joined</th>
    <td><%= data.joindate %></td>
  </tr>
  <tr>
    <th>Bio</th>
    <td><%= data.bio %></td>
  </tr>
  <tr>
    <th>Stack</th>
    <td>? vinyls collected</td>
  </tr>
</table>

<%- include('footer') %>