<%- include('header') %>

<h2>STACKSofWAX members</h2>

<div class="flex one two-600 three-800 four-1000"> 

  <table>
    <tr>
      <th>Username</th>
      <th>Stack</th>
      <th>Joined</th>
    </tr>

    <% collectorsdata.forEach( (collector)=>{   %>
    <tr>
      <th><a class="button" href="/collector?id=<%= collector.user_id %>"><%= collector.username %></a></th>
      <td>?</td>
      <td><%= collector.joindate %></td>
    </tr>
    <% }); %>
  </table>

</div>

<%- include('footer') %>