<%- include('header', {here: 'collectors'}) %>

<h1>Members</h1>

<div class="my-main"> 

  <table class="table">
    <tr>
      <th>Username</th>
      <th>Stack</th>
      <th>Jukebox likes</th>
      <th>Joined</th>
    </tr>

    <% collectorsdata.forEach( (collector)=>{ %>
    <tr>
      <td>
        <a class="btn btn-outline-info" href="/collector?id=<%= collector.user_id %>">
          <img class="minipic" src="
          <% if (collector.userimageurl == null) { %>
          defaultavatar.png
          <% } else { %>
          <%= collector.userimageurl %>
          <% } %>
          "/><%= collector.username %>
        </a>
      </td>
      <td><%= collector.stack %></td>
      <td><%= collector.likes %></td>
      <td><%= collector.joindate %></td>
    </tr>
    <% }); %>
  </table>

</div>

<%- include('footer') %>