<%- include('header', {here: 'collector'}) %>

<h2><img src="<%= userdata.userimageurl %>" style="height:100px;padding-right:30px;"/><%= userdata.username %></h2>

<table class="table">
  <tr>
    <th>Joined</th>
    <td><%= userdata.joindate %></td>
  </tr>
  <tr>
    <th>Bio</th>
    <td><%= userdata.bio %></td>
  </tr>
  <tr>
    <th>Stack</th>
    <td>? vinyls collected</td>
  </tr>
</table>

<% if(ownedvinylsdata[0]) { %>
<h3>Their wax</h3>
<table class="table">
  <tr>
    <th>Release</th>
    <th>Year</th>
    <th>My notes</th>
  </tr>
  <% ownedvinylsdata.forEach(copy => { %>
  <tr>
    <td><%= copy.releasename %></td>
    <td><%= copy.year %></td>
    <td><%= copy.ownercomment %></td>
  </tr>
  <% }) %>
</table>
<% } %>

<h3>Their jukeboxes</h3>
<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% if(jukeboxesdata) { 
    jukeboxesdata.forEach(jukebox => { %>
  <tr>
    <td><%= jukebox.jukebox_id %></td>
    <td>
      <a href="/jukebox?id=<%= jukebox.jukebox_id %>"><%= jukebox.jukeboxname %></a>
    </td>
    <td><%= jukebox.jukeboxdesc %></td>
    </td>
  </tr>
    <% });
  }; %>  
</table>

<%- include('footer') %>