<%- include('header', {here: 'home'}) %>

<div class="nice hero">
  <h1>Got wax?</h1>
  <h3>Organise your vinyl collection, make new discoveries and connect with other enthusiasts</h3>
  <p><a class="btn btn-dark" href="/signup">Join us!</a> <a class="btn btn-dark" href="/login">Log in</a></p>
</div>

<div class="nice">
  <h5>The most popular releases among members:</h5>

  <div class="flex-container"> 

    <% vinylsdata.forEach( (release)=>{ %>
      <div>
          <a class="btn btn-outline-info" href="/vinyl?id=<%= release.release_id %>">
            <img class="bigcover" src="
            <% if (release.releaseimageurl == null || release.releaseimageurl == '') { %>
            defaultcover.png
            <% } else { %>
            <%= release.releaseimageurl %>
            <% } %>
            " onerror="this.onerror=null; this.src='defaultcover.png'"/><br/>
            <%= release.releasename %><br/>
            <span style="font-size: smaller;"><%= release.sectionsartistnames %></span>
          </a>
      </div>
    <% }); %>

  </div>
</div>

<%- include('footer') %>