<%- include('header') %>
  
  <div style="width:80%; margin: 0 auto; padding-top: 100px;">
    
    <h2><%= titletext %></h2>
    
    <h3>Vinyl is back, but please shelve, don't stack.</h3>

    <div class="flex one two-600 three-800 four-1000"> 

        <% data.forEach( (vinyl)=>{   %>
            <div>
                <a class="button" href="/vinyl?id=<%= vinyl.vinyl_id %>"><%= vinyl.vinylname %></a>
            </div>
        <% }); %>

    </div>
  </div>
<%- include('footer') %>