<%- include('header', {here: 'home'}) %>

<h1>Got wax?</h1>
<p>Organise your collection, make new discoveries and connect with other enthusiasts on <img style="vertical-align:text-bottom" src="stacksofwax logo v1e1.png" alt="STACKSofWAX" height="25"></p>

<h2>The commonest releases owned by members:</h2>

<div class="flex-container"> 

  <% vinylsdata.forEach( (release)=>{   %>
    <div>
        <a class="btn btn-outline-info" href="/vinyl?id=<%= release.release_id %>">
          <img class="bigcover" src="
          <% if (release.releaseimageurl == null) { %>
          defaultcover.png
          <% } else { %>
          <%= release.releaseimageurl %>
          <% } %>
          "/><br/>
          <%= release.sectionnames %><br/>
          <span style="font-size: smaller;"><%= release.sectionsartistnames %></span>
        </a>
    </div>
  <% }); %>

</div>

<%- include('footer') %>