<%- include('header', {here: 'jukebox'}) %>
    
<h2><%= jukeboxdata.jukeboxname %></h2>
<h3><%= jukeboxdata.jukeboxdesc %></h3>
<p>Created by <a href="/collector?id=<%= jukeboxdata.user_id %>">
<%= jukeboxdata.username %></a></p>

<h3>Wax</h3>
<% if(jukevinylsdata) jukevinylsdata.forEach( (copy)=>{   %>
  <a class="button" href="/vinyl?id=<%= copy.release_id %>">#<%= copy.copy_id %> <%= copy.releasename %></a>
<% }); %>

<form method="POST" action="/togglelike">
  <h3> 
    <% if (member) { %>
    <input type="hidden" name="jukebox_id" value="<%= jukeboxdata.jukebox_id %>">
    <input type="submit" value="<%= likebutton %>">
    <% } %>
    Liked by <% if(likebutton=="Unlike") { %>you and <%= likesdata.length-1 %> other<% } else { %><%= likesdata.length %><% } %> people
  </h3>
</form>

<h3>Reviews</h3>
<table class="table">
  <% if (member) { %>
  <form method="POST" action="/addreview">
  <tr>
    <input type="hidden" name="jukebox_id" value="<%= jukeboxdata.jukebox_id %>">
    <td><textarea name="reviewtext" rows="4" cols="50" placeholder="Nice combo right? Leave a comment."></textarea></td>
    <td style="text-align: right"><input type="submit" value="Post" /></td>
  </tr>
  </form>
  <% } %>
  <% if (reviewsdata) reviewsdata.forEach((review) =>{ %>
  <tr>
    <td><%= review.reviewtext %></td>
    <td><%= review.username %></td>
  </tr>
  <% }); %>
</table>


<%- include('footer') %> 
