<%- include('header') %>

<h3>My wax</h3>
<% if(goodstuff) { %>

  <table>
    <tr>
      <th>ID</th>
      <th>Release</th>
      <th>Year</th>
      <th>My notes</th>
      <th>Options</th>
    </tr>
    <% 
    goodstuff.forEach(copy => { 
      let clip = 30;
      let trunc;
      if (copy.ownercomment == null) {
        trunc = '';
      } else if (copy.ownercomment.length<clip) {
        trunc = copy.ownercomment;
      } else {
        trunc = copy.ownercomment.slice(0,clip-1) + '…';
      }
    %>

    <form method="POST" action="/editcopy">
    <tr>
      <td><%= copy.owned_release_id %></td>
      <td><%= copy.releasename %></td>
      <td><%= copy.year %></td>
      <td id="tdVC<%= copy.owned_release_id %>" style="display: table-cell"><%= trunc %></td>
      <td id="tdVB<%= copy.owned_release_id %>" style="display: table-cell; text-align: right"><a class="button" onclick="var id = <%= copy.owned_release_id %>; edit(id);">Edit</a></td>
      <td id="tdEB<%= copy.owned_release_id %>" style="display: none; text-align: right" colspan="2">
        <input type="hidden" id="owned_release_id" name="owned_release_id" value="<%= copy.owned_release_id %>">
        <input type="submit" name="toupdate" value="Save" />
        <input type="submit" name="todelete" value="Delete" />
        <a class="button" onclick="var id = <%= copy.owned_release_id %>; closeedit(id);">Close</a>
      </td>    
    </tr>
    <tr id="trEC<%= copy.owned_release_id %>" style="display: none">
      <td colspan="5">
        <textarea name="ownercomment" rows="5" cols="40"><%= copy.ownercomment %></textarea>
      </td>
    </tr>
    </form>
    <% }) %>
  </table>

<% } %>

<a class="button" href="/collector?id=<%= user_id %>">My page</a>

<%- include('footer') %>

<script src="editbuttonSCRIPT.js"></script>