<%- include('header') %>

<h3>My jukeboxes</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <% if(jukeboxesdata) { 
    jukeboxesdata.forEach(jukebox => { %>
    <th><%= jukebox.jukebox_id %></th>
    <th><%= jukebox.jukeboxname %></th>
    <th><%= jukebox.jukeboxdesc %></th>
    <% });
  }; %>  
  <form>
  <tr>
    <td>*</td>
    <td><input name="jukeboxname" type="text" placeholder="Name it something fancy"></td>
    <td><textarea name="jukeboxdesc" rows="2" cols="25" placeholder="255-character elevator pitch... go!"></textarea></td>
    <td><input type="submit" name="toadd" value="Add" /></td>
  </tr>
  </form>

<h3>My wax</h3>
<% if(copiesdata) { %>

  <table>
    <tr>
      <th>ID</th>
      <th>Release</th>
      <th>Year</th>
      <th>My notes</th>
      <th>Options</th>
    </tr>
    <% 
    copiesdata.forEach(copy => { 
      let clip = 30;
      let trunc;
      if (copy.ownercomment == null) {
        trunc = '';
      } else if (copy.ownercomment.length<clip) {
        trunc = copy.ownercomment;
      } else {
        trunc = copy.ownercomment.slice(0,clip-1) + '…';
      }
    %>

    <tr id="V<%= copy.owned_release_id %>" style="display: table-row">
      <td><%= copy.owned_release_id %></td>
      <td><%= copy.releasename %></td>
      <td><%= copy.year %></td>
      <td><%= trunc %></td>
      <td><a class="button" onclick="var id = <%= copy.owned_release_id %>; edit(id);">Edit</a></td>
    </tr>
    <form method="POST" action="/editcopy">
    <tr id="E<%= copy.owned_release_id %>" style="display: none">
      <td><%= copy.owned_release_id %></td>
      <td><%= copy.releasename %></td>
      <td><%= copy.year %></td>
      <td>
        <!-- <input name="ownercomment" type="text" value="<%= copy.ownercomment %>"> -->
        <textarea name="ownercomment" rows="5" cols="25"><%= copy.ownercomment %></textarea>
      </td>
      <td>
        <input type="hidden" id="owned_release_id" name="owned_release_id" value="<%= copy.owned_release_id %>">
        <input type="submit" name="toupdate" value="Save" />
        <input type="submit" name="todelete" value="Delete" />
        <a class="button" onclick="var id = <%= copy.owned_release_id %>; closeedit(id);">Close</a>
      </td>
    </tr>
    </form>
    <% }); %>
  </table>

<% }; %>

<a class="button" href="/collector?id=<%= user_id %>">My page</a>

<%- include('footer') %>

<script src="editbuttonSCRIPT.js"></script>