<%- include('header', {here: 'home'}) %>

<h2>Search results: <%= query.nameS %></h2>

<div class="flex-container"> 

  <% vinylsdata.forEach( (release)=>{ %>
    <div>
      <a role="button" class="btn btn-outline-info" href="/vinyl?id=<%= release.release_id %>"><%= release.releasename %></a>
    </div>
  <% }); %>

</div>

<%- include('footer') %>