<%- include('header') %>
    
<h2><%= vinyldata.releasename %></h2>
<% if (vinyldata.vinyls>1) { %><p><%= vinyldata.vinyls %>-vinyl release</p><% } %>
<table>
  <tr>
    <th>Year</th>
    <td><%= vinyldata.year %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= vinyldata.releasenotes %></td>
  </tr>
  <tr>
    <th>Label</th>
    <td>
      <!--<a href="/label?id=<%= vinyldata.label_id %>">-->
        <%= vinyldata.labelname %>
      <!--</a>-->
    </td>
  </tr>
</table>
<!-- TODO include add button and table of owned copies and comments for members -->

<% if (member) { %>
<h3>My wax</h3>
<% if(copiesdata[0]) { %>
<table>
  <tr>
    <th>ID</th>
    <th>Collection</th>
    <th>My notes</th>
  </tr>
  <% copiesdata.forEach(copy => { %>
  <tr>
    <td><%= copy.owned_release_id %></td>
    <td><%= copy.collectionname %></td>
    <td><%= copy.ownercomment %></td>
  </tr>
  <% }) %>
</table>
<% } %>
<form method="POST" action="/ihaveone">
  <input type="hidden" id="release_id" name="release_id" value="<%= vinyldata.release_id %>">
  <button class='button' >I have <% if (copiesdata[0]) { %>another <% } %>one</button>
</form>
<% } %>

<%- include('footer') %>

<%- include('editbuttonSCRIPT') %>