<%- include('header', {here: 'vinyl'}) %>
    
<h1><%= vinyldata.releasename %></h1>
<% if (vinyldata.vinyls>1) { %><p><%= vinyldata.vinyls %>-vinyl release</p><% } %>
<% vinyldata.sections.forEach(section => { %>
  <h2><% if (section.sectionname != vinyldata.releasename) { %><%= section.sectionname %> <% } %><% section.artists.forEach(artist => { %><a class="btn btn-outline-info" href="/artist?<%= artist.artist_id %>"><%= artist.artistname %></a> <% }); %></h2>
  <table>
    <tr>
      <td><%= section.sectionindex %>-1</td>
      <td>Track 1</td>
    </tr>
  </table>
<% }) %>
<h2></h2>
<table class="table">
  <tr>
    <th>Year</th>
    <td><%= vinyldata.year %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= vinyldata.releasenotes %></td>
  </tr>
  <tr>
    <th>Label</th>
    <td>
      <!--<a href="/label?id=<%= vinyldata.label_id %>">-->
        <%= vinyldata.labelname %>
      <!--</a>-->
    </td>
  </tr>
</table>


<!-- TODO include add button and table of owned copies and comments for members -->

<% if (member) { %>
<h3>My copies</h3>
<% if(copiesdata[0]) { %>
<table class="table">
  <tr>
    <th>ID</th>
    <th>My notes</th>
  </tr>
  <% copiesdata.forEach(copy => { %>
  <tr>
    <td><%= copy.copy_id %></td>
    <td><%= copy.ownercomment %></td>
  </tr>
  <% }) %>
</table>
<% } %>
<form method="POST" action="/ihaveone">
  <input type="hidden" id="release_id" name="release_id" value="<%= vinyldata.release_id %>">
  <button class='button' >I have <% if (copiesdata[0]) { %>another <% } %>one</button>
</form>
<% } %>

<%- include('footer') %>
