<%- include('header') %>
    
<h2><%= goodstuff.releasename %></h2>
<% if (goodstuff.vinyls>1) { %><p><%= goodstuff.vinyls %>-vinyl release</p><% } %>
<table>
  <tr>
    <th>Year</th>
    <td><%= goodstuff.year %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= goodstuff.releasenotes %></td>
  </tr>
  <tr>
    <th>Label</th>
    <td>
      <!--<a href="/label?id=<%= goodstuff.label_id %>">-->
        <%= goodstuff.labelname %>
      <!--</a>-->
    </td>
  </tr>
</table>
<!-- TODO include add button and table of owned copies and comments for members -->

<% if (member) { %>
<h3>My wax</h3>
<% if(gravy[0]) { %>
<table>
  <tr>
    <th>ID</th>
    <th>Collection</th>
    <th>My notes</th>
  </tr>
  <% gravy.forEach(copy => { %>
  <tr>
    <td><%= copy.owned_release_id %></td>
    <td><%= copy.collectionname %></td>
    <td><%= copy.ownercomment %></td>
  </tr>
  <% }) %>
</table>
<% } %>
<form method="POST" action="/ihaveone">
  <input type="hidden" id="release_id" name="release_id" value="<%= goodstuff.release_id %>">
  <button class='button' >I have <% if (gravy) { %>another <% } %>one</button>
</form>
<% } %>
<%- include('footer') %>