<%- include('header') %>
    
<h2><%= data.releasename %></h2>
<% if (data.vinyls>1) { %><p><%= data.vinyls %>-vinyl release</p><% } %>
<table>
  <tr>
    <th>Year</th>
    <td><%= data.year %></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td><%= data.releasenotes %></td>
  </tr>
  <tr>
    <th>Label</th>
    <td>
      <!--<a href="/label?id=<%= data.label_id %>">-->
        <%= data.labelname %>
      <!--</a>-->
    </td>
  </tr>
</table>
<!-- TODO include add button and table of owned copies and comments for members -->

<% if (member) { %>
<h3>My wax</h3>
<form method="POST" action="/ihaveone">
  <input type="hidden" id="release_id" name="release_id" value="<%= data.release_id %>">
  <label><button class='button' >+1</button>I have <!--another-->one</label>
</form>
<% } %>
<%- include('footer') %>